body{
    padding: 0;
    margin: 0;
}
.media-ex{
   
    margin-top: 5%;
}
.media-ex h3{
    text-align: center;
}
.media-ex p{
    font-size: 18px;
    line-height: 1.8;
    color: #585858;
    width: 50%;
    margin-left: 25%;
    
}


.grid-box{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, 230px);
    margin-top: 5%;
    margin-left: 10%;
}

@media all and (min-width: 300px){
    .media-ex p{
        font-size: 15px;
        line-height: 1.5;
        color: #585858;
        width: 80%;
        margin-left: 8%;
    }
    .grid-box{
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(1, 100px);
            margin-top: 5%;
            margin-left: 10%;
        }     
        


}
@media all and (min-width: 600px){
    .media-ex p{
        font-size: 15px;
        line-height: 1.5;
        color: #585858;
        width: 80%;
        margin-left: 8%;
}
.grid-box{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 230px);
    margin-top: 5%;
    margin-left: 5%;
}     
@media all and (min-width: 900px){
    .media-ex p{
        font-size: 15px;
        line-height: 1.5;
        color: #585858;
        width: 80%;
        margin-left: 8%;
}
.grid-box{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 230px);
    margin-top: 5%;
    margin-left: 5%;
} 
}
@media all and (min-width: 1200px){
    .media-ex p{
        font-size: 15px;
        line-height: 1.5;
        color: #585858;
        width: 80%;
        margin-left: 8%;
}
.grid-box{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, 230px);
    margin-top: 5%;
    margin-left: 5%;
} 
}
}